@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

.App{
    font-family: 'DM Sans';
    height: 100vh;
    background: #D0E0EF;
}

*{
    outline: none !important;
}